body{
    background-color: blue;
}
.myinformationaboutrhinos{
    background-color: red;
}
.rhinofacts{
    background-color: darkorange;
}
.whatyoushouldknowaboutrhinos{
    background-color: yellow;
}
.Whattheeatandwhattheyliketoeat{
    background-color: chartreuse;
}