body{
    background-color: blue;
}
.myinformationaboutrhinos{
    background-color: blueviolet;
}
.rhinofacts{
    background-color: chartreuse;
}
.whatyoushouldknowaboutrhinos{
    background-color: crimson;
}
.Whattheeatandwhattheyliketoeat{
    background-color: darkorange;
}